*, html, body{
    font-family: sans-serif;
    font-size: 12px;
}

a{
    color: #254b78;
    text-decoration: none;
    font-weight: bold;
}


.lista-painel{
    background-color: #254b78;
    margin: 0px;
    padding: 0px;
    display: table;
    width: 100%;
}
.lista-painel ul{
    padding: 0px;
    margin: 0px;
    float: left;
    list-style: none;
    display: block;
    margin-left: -10px;
}
.lista-painel ul.perfil{
    float: right;
}
.lista-painel ul li{
    float: left;
    padding: 4px 10px 4px 10px;
}
.lista-painel ul li,
.lista-painel ul li a{
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.lista-painel > ul li,
.lista-painel > ul li a{
    line-height: 20px;
    padding: 5px 10px;
}
.lista-painel ul li:hover{
    /*background-color: #17293d;*/
    background-color: #466987;
}

.lista-painel ul li ul{
    display: none;
}
.lista-painel ul li:hover ul{
    display: table;
    position: absolute;
    background-color: #254b78;
    margin-top: 4px;
    /*padding: 10px;*/
    /*margin-left: -10px;*/
}

.lista-painel ul li ul li{
    float: none;
    /*display: table;*/
    padding-right: 15px;
    /*line-height: 25px;*/
}
.lista-painel ul li a,
.lista-painel{
    color: #d2e7ef;
    text-decoration: none;
}
a:hover,
.lista-painel ul li a:hover{
    /*text-decoration: underline;*/
}
.modulo-descricao{
    /*border: 1px solid red;*/
    padding: 15px 10px 5px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #17293d;
    display: block;
}
hr{
    border-color: #17293d;
}
.centralize{
    width: 900px;
    text-align: left;
    display: block;
}
.hazo-simple-table{
    width: 100%;
}
.hazo-simple-table * td{
    padding: 3px 6px;
    border-bottom: 1px solid #bbb;
}
.hazo-simple-table tbody tr:hover td{
    background-color: #eee;
}
.hazo-simple-table thead tr td{
    font-weight: bold;
}


.btn{
    background-color: #254b78;
    color: #FFF;
    padding: 5px 8px;
    border: 1px solid #17293d;
    -webkit-border-radius: 5px 5px 5px 5px;
       -moz-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: #17293d;
}

.btn-maroon{
    background-color: maroon;
    border-color: #4a2529;
}
.btn-maroon:hover{
    background-color: #4a2529;
}

.btn-bgreen{
    background-color: #1a6432;
    border-color: #133e21;
}
.btn-bgreen:hover{
    background-color: #133e21;
}