.lista-painel{
    background-color: #254b78;
    margin: 0px;
    padding: 0px;
    display: table;
    width: 100%;
}
.lista-painel ul{
    padding: 0px;
    margin: 0px;
    float: left;
    list-style: none;
    display: block;
    margin-left: -10px;
}
.lista-painel ul.perfil{
    float: right;
}
.lista-painel ul li{
    float: left;
    padding: 4px 10px 4px 10px;
}
.lista-painel ul li,
.lista-painel ul li a{
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.lista-painel > ul li,
.lista-painel > ul li a{
    line-height: 20px;
    padding: 5px 10px;
}
.lista-painel ul li:hover{
    /*background-color: #17293d;*/
    background-color: #466987;
}

.lista-painel ul li ul{
    display: none;
}
.lista-painel ul li:hover ul{
    display: table;
    position: absolute;
    background-color: #254b78;
    margin-top: 4px;
    /*padding: 10px;*/
    /*margin-left: -10px;*/
}

.lista-painel ul li ul li{
    float: none;
    /*display: table;*/
    padding-right: 15px;
    /*line-height: 25px;*/
}
.lista-painel ul li a,
.lista-painel{
    color: #d2e7ef;
    text-decoration: none;
}

.lista-painel ul li a:hover{
    /*text-decoration: underline;*/
}
.modulo-descricao{
    /*border: 1px solid red;*/
    padding: 15px 10px 5px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #17293d;
    display: block;
}
hr{
    border-color: #17293d;
}
.centralize{
    /*width: 900px;*/
    text-align: left;
    display: block;
}
.hazo-simple-table{
    width: 100%;
}
.hazo-simple-table * td{
    padding: 3px 6px;
    border-bottom: 1px solid #bbb;
}
.hazo-simple-table tbody tr:hover td{
    background-color: #eee;
}
.hazo-simple-table thead tr td{
    font-weight: bold;
}

.content-all{
    padding-top: 25px;
}
