{% extends "index.twig" %}

{% set nome_modulo = "Cadastro de Projeto" %}

{% block content %}

{% 
    set status = {
        'A': "Ativo",
        'I': "Inativo"
    }
%}

{% import "formulario.twig" as form %}

<form class="hazo-form" method="post" action="">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-7">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" name="titulo" value="{{Projeto.getTitulo()}}"/>
        </div>
        <div class="form-group col-xs-12 col-sm-5">
            <label for="status">Status</label>
            <div class="form-control">
                {{ form.radio(status, 'status', Projeto.getStatus() ?: 'A' ) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <label for="descricao">Descrição</label>
            <textarea style="height: 100px;" class="form-control" name="descricao">{{Projeto.getDescricao()}}</textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="cliente">Cliente</label>
            {{form.select(clientes, 'cliente', Projeto.getClienteID(), false)}}
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="gerente">Gerente</label>
            {{form.select(gerentes, 'gerente', Projeto.getUsuarioGerenteID(), false)}}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <input type="submit" class="btn btn-warning" value="Salvar Informações"/>
        </div>
    </div>
</form>

{% endblock %}