{% extends "index.twig" %}

{% set nome_modulo = "Projetos Cadastrados" %}

{% block content %}
<div class="row">
    <div class="form-group col-xs-12 col-sm-12">
        <a href="{{url}}/administrador/projetos/cadastro">
            <button class='btn btn-primary'>Cadastrar novo Projeto</button>
        </a>
    </div>
</div>

{% if projetos %}

<table class="hazo-simple-table" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td>Projeto</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        {% for Projeto in projetos %}
            <td>
                <a href="{{url}}/administrador/projetos/cadastro/{{Projeto.getID()}}">
                    {{Projeto.getTitulo()}}
                </a>
            </td>
            <td>{{Projeto.getStatusInfo('descricao')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<center><i>Nenhum projeto cadastrado</i></center>

{% endif %}

{% endblock %}