
.table-list{
    width: 100%;
}
.table-list > thead > tr > td,
.table-list > tbody > tr > td{
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
}
.table-list > thead > tr > td{
    background-color: #ababab;
    color: #000000;
    font-weight: bold;
}
.table-list > tbody > tr > td{
    border-bottom: 1px solid #ababab !important;
}
.table-list.hover > tbody > tr:hover > td{
    background-color: #333;
}
.table-list > tbody > tr.clicked > td{
    background-color: #BBB;
}
.table-list.click > tbody > tr{
    cursor: pointer;
}
.table-list.click > tbody > tr.tr-expanded{
    cursor: default;
}
.table-list.click > tbody > tr.tr-expanded > td{
    background-color: #DDD;
    padding: 10px;
}