{% extends "index.twig" %}

{% set nome_modulo = "Cadastro de Cronograma" %}

{% block content %}

{% 
    set status = {
        'A': "Ativo",
        'I': "Inativo"
    }
%}

{% import "formulario.twig" as form %}

<form class="hazo-form" method="post" action="">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-5">
            <label for="titulo">Título do Cronograma</label>
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="" value="{{Cronograma.getTitulo()}}">
        </div>
        <div class="form-group col-xs-12 col-sm-5">
            <label>Status</label>
            <div class="form-control">
            {{ form.radio(status, 'status', Cronograma.getStatus() ?: 'A' ) }}
            </div>
        </div>
    </div>
    
{% if Cronograma.getID() %}

<style>
    .hazo-simple-table tbody tr td{
        vertical-align: top;
    }
    .hazo-simple-table tbody tr td p{
        line-height: 17px;
        padding: 0px;
        margin: 0px;
    }
</style>

    <hr size='1'/>
    <div style="clear: both"></div>
    
    <p>
        <b>Etapas do Cronograma</b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{url}}/administrador/cronograma/etapa-cadastro/{{Cronograma.getID()}}">
            <input type="button" value="Cadastrar nova etapa" class="btn btn-primary"/>
        </a>
    </p>
    
    {% if etapas %}
    
    <table class="hazo-simple-table" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td>Seq.</td>
                <td>Etapa</td>
                <td>Atividades</td>
            </tr>
        </thead>
        <tbody>
            {% for Etapa in etapas %}
            <tr>
                <td>
                    <input type="text" class="form-control" name="seq_etapa[{{Etapa.getID()}}]" value="{{Etapa.getSequencia()}}" style="width: 40px; padding: 2px;"/>
                </td>
                <td>
                    <a href="{{url}}/administrador/cronograma/etapa-cadastro/{{Cronograma.getID()}}/{{Etapa.getID()}}">
                        {{Etapa.getDescricao()}}
                    </a>
                </td>
                <td>
                    {% set atividades = Etapa.getAtividades() %}
                    
                    {% if atividades %}
                        {% for Atividade in atividades %}
                        <p>{{Atividade.getTitulo()}}</p>
                        {% endfor %}
                    {% else %}
                        <i>Nenhuma atividade cadastrada</i>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}

<center><i>Nenhuma etapa cadastrada para este cronograma</i></center>

    {% endif %}

{% endif %}

    <div style="clear: both"></div>
    <br/>
    <br/>
    
    <div class="span100">
        <input type="submit" class="btn btn-warning" value="Salvar Informações"/>
    </div>
</form>
<div style="clear: both"></div>


{% endblock %}