{% extends "index.twig" %}

{% set nome_modulo = "Cadastro de Etapa" %}

{% block content %}

{% 
    set status = {
        'A': "Ativo",
        'I': "Inativo"
    }
%}

{% import "formulario.twig" as form %}

<style>
    .seq{ width: 50px !important; }
</style>

<form class="hazo-form" method="post" action="">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-5">
            <label for="titulo">Descrição da Etapa</label>
            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="" value="{{Etapa.getDescricao()}}">
        </div>
    </div>    
    
    <p>
        <b>Atividades desta Etapa</b>
    </p>
    
    <div class="row">
        <div class="form-group col-xs-3 col-sm-2">
            <label>Seq.</label>
        </div>
        <div class="form-group col-xs-9 col-sm-10">
            <label>Atividade</label>
        </div>
    </div>
    
    {% for Atividade in atividades %}
        <input type="hidden" name="atividade_id[]" value="{{Atividade.getID()}}"/>
        <div class="row">
            <div class="form-group col-xs-3 col-sm-2">
                <input type="text" class="form-control" name="atividade_seq[]" value="{{Atividade.getSequencia()}}"/>
            </div>
            <div class="form-group col-xs-9 col-sm-10">
                <input type="text" class="form-control" name="atividade_nome[]" value="{{Atividade.getTitulo()}}"/>
            </div>
        </div>
    {% endfor %}
    {% for i in 1..10 %}
        <div class="row">
            <div class="form-group col-xs-3 col-sm-2">
                <input type="text" class="form-control" name="atividade_seq[]" value=""/>
            </div>
            <div class="form-group col-xs-9 col-sm-10">
                <input type="text" class="form-control" name="atividade_nome[]" value=""/>
            </div>
        </div>
    {% endfor %}
    
    <div class="row">
        <div class="form-group col-xs-12 col-sm-2">
            <input type="submit" class="btn btn-warning" value="Salvar Informações"/>
        </div>
    </div>
</form>
<div style="clear: both"></div>


{% endblock %}