{% extends "index.twig" %}

{% set nome_modulo = "Cronogramas" %}

{% block content %}

<p>
    <a href="{{url}}/administrador/cronograma/cadastro">
        <button class='btn btn-primary'>Cadastrar novo cronograma</button>
    </a>
</p>

{% if cronogramas %}

{% set status = { A: 'Ativo', I: 'Inativo' } %}

<table class="hazo-simple-table" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td>Cronograma</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        {% for Cronograma in cronogramas %}
            <td>
                <a href="{{url}}/administrador/cronograma/cadastro/{{Cronograma.getID()}}">
                    {{Cronograma.getTitulo()}}
                </a>
            </td>
            <td>{{status[Cronograma.getStatus()]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<center><i>Nenhum cronograma cadastrado</i></center>

{% endif %}

{% endblock %}