<form class="hazo-form" method="post" action="">

    <div class="row">
        <div class="form-group col-xs-12 col-sm-3">
            <label for="dt_ini">Data de Início</label>
            <input type="text" class="form-control datepicker" name="dt_ini" value="{{Atividade.getDataPrevisaoInicio()}}"/>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label for="dt_fim">Data de Término</label>
            <input type="text" class="form-control datepicker" name="dt_fim" value="{{Atividade.getDataPrevisaoTermino()}}"/>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label for="horas">Horas</label>
            <input type="text" class="form-control" name="horas" value="{{Atividade.getDuracaoHoras()}}"/>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label for="status">Status</label>
            {{form.select(Atividade.statusDescricao, 'status', Atividade.getStatus(), false)}}
        </div>
    </div>

    <script>
        $(function() {
            $(".datepicker").datepicker(formatDatepicker);
        });
    </script>

    <hr/>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-4">
            <label>Técnicos do projeto</label>
        </div>
    </div>

    {% for TecnicoAtividade in tecnicos_atividade %}

    <div class="row">
        <div class="form-group col-xs-10 col-sm-6">
            <input type="text" class="form-control" readonly value="{{TecnicoAtividade.getUsuarioTecnicoObj().getUsuarioObj().getNome()}}"/>
        </div>
        <div class="form-group col-xs-2 col-sm-6">
            <a class="btn btn-danger" href="{{url}}/gerente/projetos/cadastro-atividade/{{Atividade.getID()}}/excluir-tecnico/{{TecnicoAtividade.getID()}}">
                <span class="glyphicon glyphicon-remove" title="Desanexar Técnico"></span>
            </a>
        </div>
    </div>

    {% endfor %}

    {% for i in 0..4 %}
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            {{form.select(tecnicos_equipe, 'add_tecnico[]', null, true)}}
        </div>
    </div>
    {% endfor %}


    <div class="span100" style="padding-top: 20px;">
        <input type="submit" class="btn btn-warning" value="Salvar Definições"/>
        &nbsp;&nbsp;&nbsp;
        <a href="{{url}}/gerente/projetos/cadastro/{{Atividade.getProjetoID()}}">
            <input type="button" value="Voltar para projeto" class="btn btn-primary"/>
        </a>
    </div>

</form>