{% extends "index.twig" %}

{% set nome_modulo = "Projeto \""~Projeto.getTitulo()~"\" - Definições da Equipe" %}

{% block content %}

{% 
    set status = {
        'A': "Ativo",
        'I': "Inativo"
    }
%}

{% import "formulario.twig" as form %}

<style>
    .atividades{
        padding-left: 20px;
        font-weight: normal;
    }
    .tecnicos .field{ padding: 3px 0px; }
</style>
    
{% include "projetos/detalhes-projeto.html" %}

<form class="hazo-form" method="post" action="">
    
    <p style="padding-top: 10px; clear: both;"><b>Cadastro da Equipe</b></p>
    <hr size="1"/>
    
        <div class="label">Técnicos do projeto</div>

    {% for TecnicoProjeto in tecnicos_projeto %}
    
    <div class="row">
        <div class="form-group col-xs-10 col-sm-6">
            <input type="text" class="form-control" readonly value="{{TecnicoProjeto.getUsuarioObj().getNome()}}"/>
        </div>
        <div class="form-group col-xs-2 col-sm-6">
             <a class="btn btn-danger" href="{{url}}/gerente/projetos/cadastro-equipe/{{Projeto.getID()}}/excluir-tecnico/{{TecnicoProjeto.getID()}}">
                 <span class="glyphicon glyphicon-remove" title="Desanexar Técnico"></span>
             </a>
        </div>
    </div>
    
    {% endfor %}
    
    {% for i in 0..4 %}
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            {{form.select(tecnicos_disponiveis, 'add_tecnico[]', null, true)}}
        </div>
    </div>
    {% endfor %}

    <div class="span100" style="padding-top: 20px;">
        <input type="submit" class="btn btn-warning" value="Salvar Definições"/>
        &nbsp;&nbsp;&nbsp;
        <a href="{{url}}/gerente/projetos/cadastro/{{Projeto.getID()}}">
            <input type="button" value="Voltar para projeto" class="btn btn-primary"/>
        </a>
    </div>
    
</form>
<div style="clear: both"></div>

{% endblock %}