{% set operacoes = Atividade.listaOperacoes() %}

{% if operacoes %}

<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th class="col-xs-12 col-sm-3">Período</th>
            <th class="col-xs-12 col-sm-3">Técnico</th>
            <th class="col-xs-12 col-sm-1">Horas</th>
            <th class="col-xs-12 col-sm-5">Parecer</th>
        </tr>
    </thead>
    <tbody>
        {% for Operacao in operacoes %}
        <tr>
            <td>{{Operacao.getPeriodoDataInicio()}} a {{Operacao.getPeriodoDataFinal()}}</td>
            <td>{{Operacao.getTecnicoAtividadeObj().getUsuarioTecnicoObj().getUsuarioObj().getNome()}}</td>
            <td>{{Operacao.getHoras()}}</td>
            <td>{{Operacao.getParecer()}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<center><i>Nenhuma operação registrada até o momento</i></center>

{% endif %}