{% extends "index.twig" %}

{% set nome_modulo = "Projeto \""~Projeto.getTitulo()~"\" - Cadastro de Atividade" %}

{% block content %}

{#% 
set status = {
'A': "Ativo",
'I': "Inativo"
}
%#}

{% import "formulario.twig" as form %}

<style>
    .atividades{
        padding-left: 20px;
        font-weight: normal;
    }
    .tecnicos .field{ padding: 3px 0px; }
    .tab-content{ padding-top: 15px; }
</style>

{% include "projetos/detalhes-projeto.html" %}

<div class="row">
    <div class="form-group col-xs-12 col-sm-7">
        <label>Nome da Atividade</label>
        <input type="text" class="form-control" readonly value="{{Atividade.getCronogramaAtividadeObj().getTitulo()}}"/>
    </div>

    <div class="form-group col-xs-12 col-sm-5">
        <label>Cronograma</label>
        <input type="text" class="form-control" readonly value="{{Atividade.getCronogramaAtividadeObj().getEtapaObj().getCronogramaObj().getTitulo()}}"/>
    </div>
</div>

<div class="row">
    <hr/>
</div>

<div class="tabbable tabs-left">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#def-atv" data-toggle="tab">Definições da Atividade</a></li>
        <li><a href="#res-oper" data-toggle="tab">Resumo das Operações</a></li>
    </ul>

    <div class="tab-content">

        <div id="def-atv" class="tab-pane fade in active">
            {% include "projetos/cadastro-atividade-form-def.twig" %}
        </div>

        <div class="tab-pane fade" id="res-oper">
            {% include "projetos/cadastro-atividade-resumo-oper.twig" %}
        </div>

    </div>
</div>

{% endblock %}