{% extends "index.twig" %}

{% set nome_modulo = "Projeto \""~Projeto.getTitulo()~"\"" %}

{% block content %}

{% 
    set status = {
        'A': "Ativo",
        'I': "Inativo"
    }
%}

{% import "formulario.twig" as form %}

<style>
    .atividades{
        padding-left: 20px;
        font-weight: normal;
    }
    .inative, .inative a{
        color: #999;
        background-color: #ddd !important;
    }
</style>
{% include "projetos/detalhes-projeto.html" %}

<form class="hazo-form" method="post" action="">
    
    <div class="row">
        <a href="{{url}}/gerente/projetos/cadastro-equipe/{{Projeto.getID()}}" class="btn btn-primary">Definições da equipe do projeto</a>
        <a href="{{url}}/gerente/relatorio/projeto/{{Projeto.getID()}}" class="btn btn-primary">Relatório do Projeto</a>
    </div>
    
    <br/>
    <p style="padding-top: 10px; clear: both;"><b>Atividades</b><hr size="1"/></p>
    
    {% if Projeto.getCronograma() or etapas %}
    
        {% if etapas %}
            {% for Etapa in etapas %}
                <div class="span50 etapa">
                    <h4>{{Etapa.getDescricao()}}</h4>
                    <div class="atividades">
                        {% set atividades = Etapa.getAtividades() %}
                        {% if atividades  %}
                            <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th class="col-xs-12 col-sm-5">Atividade</th>
                                        <th class="col-xs-12 col-sm-4">Técnicos</th>
                                        <th class="col-xs-12 col-sm-3">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                            {% for Atividade in atividades %}
                                {% set AtividadeProjeto = atividades_projeto[Atividade.getID()] %}
                                {% if AtividadeProjeto %}
                                            
                                    {% set id = AtividadeProjeto.getID() %}
                                    {% set status = AtividadeProjeto.getStatus() %}
                                    <tr id="tr_{{id}}">
                                        <td class="td-atividade {{status != 'A' ? 'inative' : ''}}">
                                            <a href="{{url}}/gerente/projetos/cadastro-atividade/{{AtividadeProjeto.getID()}}" title="Editar as configurações desta atividade">{{Atividade.getTitulo()}}</a>
                                        </td>
                                        <td class="td-tecnicos {{status != 'A' ? 'inative' : ''}}">
                                        {% set tecnicos = AtividadeProjeto.listaAtividadeUsuarioTecnico() %}
                                        {% if tecnicos %}
                                            {% set tecnico_texto = '' %}
                                            {% for AtividadeTecnico in tecnicos %}
                                                {% set tecnico_texto = (tecnico_texto ? tecnico_texto~', ' : '')~AtividadeTecnico.getUsuarioTecnicoObj().getUsuarioObj().getNome() %}
                                            {% endfor %}
                                            {{ tecnico_texto }}
                                        {% endif %}
                                        </td>
                                        <td class="td-status {{status != 'A' ? 'inative' : ''}}" style="text-align: right;">
                                            {% if status == 'A' or status == 'I' %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-a {{status == 'A' ? 'active' : ''}}" onclick="ativa('{{id}}')">Ativa</button>
                                                <button type="button" class="btn btn-default btn-i {{status != 'A' ? 'active' : ''}}" onclick="desativa('{{id}}')">Inativa</button>
                                            </div>
                                            {% else %}
                                            <span style='color: {{ status == "O" ? "green" : "red" }}'>{{AtividadeProjeto.getStatus(true)}}</span>
                                            {% endif %}
                                            &nbsp;
                                            <a href="{{url}}/gerente/projetos/cadastro-atividade/{{AtividadeProjeto.getID()}}" class="btn btn-primary" style="color:#FFF;">Editar</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>
                                            <a href="{{url}}/gerente/projetos/cadastro-nova-atividade/{{Atividade.getID()}}/{{Projeto.getID()}}" title="Editar as configurações desta atividade">{{Atividade.getTitulo()}}</a>
                                        </td>
                                        <td colspan="2">
                                            <i>Nova atividade do cronograma</i>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                                </tbody>
                            </table>
                        {% else  %}
                        <i>Nenhuma atividade cadastrada</i>
                        {% endif  %}
                    </div>
                </div>
                
            {% endfor %}
        {% endif %}
        
    {% else %}
        <div style="clear: both"></div>
        <div class="span50">
            <i style="font-weight: normal">Ainda não foi selecionado nenhum cronograma para este projeto</i>
        </div>
        <div style="clear: both"></div>
        
        <div class="span50">
            <div class="label">Cronograma</div>
            <div class="field">{{form.select(cronogramas, 'cronograma', Projeto.getCronograma(), false)}}</div>
        </div>
        
    {% endif %}

    {% if etapas is empty %}
    <div style="clear: both"></div>
    <div class="span100" style="padding-top: 20px;">
        <input type="submit" class="btn btn-warning" value="{{ Projeto.getCronograma() ? 'Salvar Informações' : 'Definir cronograma escolhido para o projeto' }}"/>
    </div>
    {% endif %}
    
</form>

<script>
    
    function ativa( id ){
        jQuery.ajax({
            url: "{{url_module}}/altera-status-atividade/"+id,
            dataType: 'json',
            type: 'post',
            data: {id: id},
            success: function(data){
                console.log(data);
                if( data.status ){
                    jQuery('#tr_'+id).find('td').removeClass('inative');
                    jQuery('#tr_'+id).find('.btn-a').addClass('active');
                    jQuery('#tr_'+id).find('.btn-i').removeClass('active');
                }else{
                    message(data.msg, 'error');
                }
            }
        });
    }
    
    function desativa( id ){
        jQuery.ajax({
            url: "{{url_module}}/altera-status-atividade/"+id,
            dataType: 'json',
            type: 'post',
            data: {id: id},
            success: function(data){
                console.log(data);
                if( data.status ){
                    jQuery('#tr_'+id).find('td').addClass('inative');
                    jQuery('#tr_'+id).find('.btn-i').addClass('active');
                    jQuery('#tr_'+id).find('.btn-a').removeClass('active');
                }else{
                    message(data.msg, 'error');
                }
            }
        });
    }
    
</script>

{% endblock %}