<!-- XS = <       SM = > -->
{#
<div class="form-group col-xs-12 col-sm-12">
    <label>Descrição</label>
    <textarea style="height: 100px;" readonly class="form-control">{{Projeto.getDescricao()}}</textarea>
</div>
#}
<div class="form-group col-xs-12 col-sm-6">
    <label>Cliente</label>
    <input type="text" readonly class="form-control" value="{{Projeto.getClienteObj().getNome()}}"/>
</div>
<div class="form-group col-xs-12 col-sm-6">
    <label>Gerente</label>
    <input type="text" readonly class="form-control" value="{{Projeto.getUsuarioGerenteObj().getNome()}}"/>
</div>
<div style="clear: both"></div>