{% extends "index.twig" %}

{% set nome_modulo = "Projetos Ativos" %}

{% block content %}

{% if projetos %}

<table class="hazo-simple-table" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td>Projeto</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        {% for Projeto in projetos %}
            <td>
                <a href="{{url}}/gerente/projetos/cadastro/{{Projeto.getID()}}">
                    {{Projeto.getTitulo()}}
                </a>
            </td>
            <td>{{Projeto.getStatusInfo('descricao')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<center><i>Nenhum projeto cadastrado</i></center>

{% endif %}

{% endblock %}