{% extends "index.twig" %}

{% set nome_modulo = "Cadastrar horas para a atividade" %}

{% block content %}

{% include "projetos/detalhes-atividade.html" %}

<form method="post" action="{{url}}/tecnico/atividades/gravar-horas/{{Atividade.getID()}}">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-3">
            <label for="horas">Horas Trabalhadas</label>
            <input type="number" name="horas" id="horas" class="form-control" value="{{Operacao.getHoras()}}"/>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label for="dt_inicio">Data de Início</label>
            <input type="text" name="dt_inicio" id="dt_inicio" class="form-control datepicker" value="{{Operacao.getPeriodoDataInicio()}}"/>
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            <label for="dt_fim">Data de Término</label>
            <input type="text" name="dt_fim" id="dt_fim" class="form-control datepicker" value="{{Operacao.getPeriodoDataFinal()}}"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <label for="parecer">Parecer </label> (opcional)
            <textarea name="parecer" id="parecer" class="form-control" rows="7">{{Operacao.getParecer()}}</textarea>
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <input type="submit" class="btn btn-primary" value="Salvar Informações"/>
        </div>
    </div>
</form>

<script>
    jQuery(function() {
        jQuery(".datepicker").datepicker(formatDatepicker);
        
        jQuery("form").hazoFormAjax({
            success: function( data ){
                if( data && data.status ){
                    window.location = "{{url}}/tecnico/atividades";
                }else{
                    noty({text: data.message, type: 'error', timeout: 5000});
                }
            }
        });
        
        jQuery("#dt_inicio").on('change', function(){
            if( !jQuery("#dt_fim").val() ){
                jQuery("#dt_fim").val( jQuery("#dt_inicio").val() );
            }
        });
    });
</script>

{% endblock %}