{% extends "index.twig" %}

{% set nome_modulo = "Atividades Disponíveis" %}

{% block content %}

{% if atividades %}

{% 
    set status = {
        'A': "<span style='color: green'>Ativo</span>",
        'I': "<span style='color: red'>Inativo</span>"
    }
%}

<style>
    .dt-red{ color: red; }
    .dt-green{ color: green; }
    .dt-yellow{ color: orange; }
</style>

<table class="table table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <td>Cod.</td>
            <td>Projeto</td>
            <td>Titulo</td>
            <td>Data Início</td>
            <td>Data Término</td>
            <td>Duração</td>
        </tr>
    </thead>
    <tbody>
        {% for Atividade in atividades %}
        
            {% set diffIni = getDataStatus(Atividade.getDataPrevisaoInicio())  %}
            {% set diffFim = getDataStatus(Atividade.getDataPrevisaoTermino())  %}
            
            {% if diffIni > 0  %}
                {% set classIni = 'green'  %}
            {% elseif diffIni < 0 and diffFim >= 0  %}
                {% set classIni = 'yellow'  %}
            {% else  %}
                {% set classIni = 'red'  %}
            {% endif  %}
            
            {% if diffFim > 0  %}
                {% set classFim = 'green'  %}
            {% elseif diffFim < 0  %}
                {% set classFim = 'red'  %}
            {% else  %}
                {% set classFim = 'yellow'  %}
            {% endif  %}
            
            <td>{{Atividade.getID()}}</td>
            <td>{{Atividade.getProjetoObj().getTitulo()}}</td>
            <td>
                <a href="{{url}}/tecnico/atividades/cadastrar-horas/{{Atividade.getID()}}">
                   {{Atividade.getCronogramaAtividadeObj().getTitulo()}}
                </a>
            </td>
            <td class="dt-{{classIni}}">{{Atividade.getDataPrevisaoInicio()}}</td>
            <td class="dt-{{classFim}}">{{Atividade.getDataPrevisaoTermino()}}</td>
            <td>{{Atividade.getDuracaoHoras()}} h</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<center><i>Nenhuma atividade disponível para o seu usuário</i></center>

{% endif %}

{% endblock %}