{% extends "index.twig" %}

{% set nome_modulo = "Relatório \""~Projeto.getTitulo()~"\"" %}

{% block content %}

{% include "projetos/detalhes-projeto.html" %}

<div class="form row">
    <div class="form-group col-xs-12 col-sm-2">
        <label>Horas previstas</label>
        <input type="text" readonly class="form-control" value="{{Projeto.getDuracaoEstimada()}}"/>
    </div>
    <div class="form-group col-xs-12 col-sm-2">
        <label>Horas executadas</label>
        <input type="text" readonly class="form-control" value="{{Projeto.getDuracaoExecutada()}}"/>
    </div>
</div>

{% if atividades %}

<h3>Atividades</h3>

{% for Atividade in atividades %}

<table class="table table-hover table-condensed table-responsive table-bordered">
    <thead>
        <tr>
            <th>{{Atividade.getCronogramaAtividadeObj().getTitulo()}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <b>Duração estimada:</b> {{Atividade.getDuracaoHoras()}} h
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Situação atual:</b> {{Atividade.getStatus(true)}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Etapa da atividade:</b> {{Atividade.getCronogramaAtividadeObj().getEtapaObj().getDescricao()}}
            </td>
        </tr>
        <tr>
            <td>
                {% set operacoes = Atividade.listaOperacoes() %}
                
                {% if operacoes %}
                    <h5><b>Operações</b></h5>
                    <table class="table table-hover table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>Horas</th>
                                <th>Início Período</th>
                                <th>Término Período</th>
                                <th>Técnico Responsável</th>
                                <th>Parecer (opcional)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set cont_horas = 0 %}
                                
                            {% set data_ini = 0 %}
                            {% set data_fim = 0 %}
                                
                            {% for Operacao in operacoes %}

                                {% set cont_horas = cont_horas + Operacao.getHoras() %}

                                {% if data_ini == 0 %}
                                    {% set data_ini = Operacao.getPeriodoDataInicio() %}
                                {% endif %}
                                {% set data_fim = Operacao.getPeriodoDataFinal() %}
                                
                            <tr>
                                <td>{{Operacao.getHoras()}}</td>
                                <td>{{Operacao.getPeriodoDataInicio()}}</td>
                                <td>{{Operacao.getPeriodoDataFinal()}}</td>
                                <td>{{Operacao.getTecnicoAtividadeObj().getUsuarioTecnicoObj().getUsuarioObj().getNome()}}</td>
                                <td>{{Operacao.getParecer()}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>{{cont_horas}} h</th>
                                <th>{{Atividade.getMenorDataOperacao()}}</th>
                                <th>{{Atividade.getMaiorDataOperacao()}}</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <center><i>Nenhuma hora de execução foi informada para esta atividade até o momento</i></center>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

{% endfor %}

{% else %}
<center>
    <i>Nenhuma atividade definida para este projeto</i>
</center>
{% endif %}


{% endblock %}