{% macro select(array, name, valueDefault = null, nullable = true, id) %}
{% spaceless %}
    <select name="{{name}}" class="form-control">
        {% if nullable %}
        <option value=""></option>
        {% endif %}
        {% for value, description in array %}
            <option value="{{value}}" {{value == valueDefault ? "selected='selected'" : ""}}>{{description}}</option>
        {% endfor %}
    </select>
{% endspaceless %}
{% endmacro %}

{% macro radio(array, name, valueDefault = null, id) %}
{% spaceless %}
    {% for value, description in array %}
    <div class="radio-inline">
        <label>
            <input type="radio" name="{{name}}" value="{{value}}" {{valueDefault and value == valueDefault ? "checked='checked'" : ""}}/>
            {{description}}&nbsp;&nbsp;
        </label>
    </div>
    {% endfor %}
{% endspaceless %}
{% endmacro %}

{% macro check(description, value, name, valueDefault = null, id) %}
{% spaceless %}
    <label><input type="checkbox" name="{{name}}" value="{{value}}" {{valueDefault and value == valueDefault ? "checked='checked'" : ""}}/>&nbsp;{{description}}&nbsp;&nbsp;</label>
{% endspaceless %}
{% endmacro %}