<!DOCTYPE html>
<html>
    <head>
        <title>Hazo Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {# jQuery 
        #}
        <script type="text/javascript" src="{{url}}/media/jquery/jquery-1.9.1.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url}}/media/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{url}}/media/jquery/jquery-ui-1.10.3.custom.js"></script>
        {#
       
        <link href="{{url}}/media/css/style.css" type="text/css" rel="stylesheet"/>
        #}

        <link href="{{url}}/media/css/style2.css" type="text/css" rel="stylesheet"/>
        <script src="{{url}}/media/js/hazo-project.js" type="text/javascript"></script>
        {#
        <link href="{{url}}/media/css/hazo-form.css" type="text/css" rel="stylesheet"/>
        #}
        <link href="{{url}}/media/hazoSearch/jquery.hazo-search-1.0.0.css" type="text/css" rel="stylesheet"/>
        <script src="{{url}}/media/hazoSearch/jquery.hazo-search-1.0.0.js" type="text/javascript"></script>
        
        {# jQuery Bootstrap #}
        <link rel="stylesheet" href="{{url}}/media/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{url}}/media/bootstrap/css/bootstrap-theme.min.css">
        <script src="{{url}}/media/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{url}}/media/bootstrap/js/lang/pt_BR/bootstrap-formhelpers-countries.pt_BR.js"></script>
        <script src="{{url}}/media/bootstrap/js/bootstrap-formhelpers-datepicker.js"></script>
        
        {# jQuery NOTY # http://needim.github.io/noty/ #}
        <script type="text/javascript" src="{{url}}/media/noty-master/js/noty/jquery.noty.js"></script>
        <script type="text/javascript" src="{{url}}/media/noty-master/js/noty/layouts/top.js"></script>
        <script type="text/javascript" src="{{url}}/media/noty-master/js/noty/themes/default.js"></script>
        
        <link href="{{url}}/media/css/bootstrap-custom.css" type="text/css" rel="stylesheet"/>
        
        <script type="text/javascript" src="{{url}}/media/library/jquery.hazo-form-ajax.js"></script>
        
    </head>
    <body style="padding: 0px; margin: 0px;">
            {% include "painel.twig" %}

            <div class="container content-all">
                {% if nome_modulo %}
                <h2 class="">{{nome_modulo}}</h2><hr/>
                {% endif %}
                <!-- Example row of columns -->
                <div class="row">
                    {% block content %}{% endblock %}
                    {#
                    <div class="col-lg-4">
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
                    </div>
                    #}
                </div>

                <hr>

                <footer>
                    <p>&copy; HazoProject 2013</p>
                </footer>
            </div> <!-- /container -->
        {% include "/media/templates/html-bottom-messages.twig" %}
    </body>
</html>