{% if Online %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Hazo Project</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            {% if Online.getTipoUsuario() == 'A' %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url}}/administrador/cadastros/administradores">Administradores</a></li>
                        <li><a href="{{url}}/administrador/cadastros/tecnicos">Técnicos</a></li>
                        <li><a href="{{url}}/administrador/cadastros/gerentes">Gerentes</a></li>
                    </ul>
                </li>
                <li><a href="{{url}}/administrador/cadastros/clientes">Clientes</a></li>
                <li><a href="{{url}}/administrador/projetos">Projetos</a></li>
                <li><a href="{{url}}/administrador/cronograma">Cronogramas</a></li>
            {% elseif Online.getTipoUsuario() == 'G' %}
                <li><a href="{{url}}/gerente/projetos">Projetos</a></li>
                <li><a href="{{url}}/tecnico/atividades">Atividades</a></li>
            {% elseif Online.getTipoUsuario() == 'T' %}
                <li><a href="{{url}}/tecnico/atividades">Atividades</a></li>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{url}}/{{Online.getTipoInfo('module')}}/meu-cadastro">Olá {{Online.getNome()}}</a>{#,
                    você está logado como <b>{{Online.getTipoInfo('descricao')}}</b>#}
                </li>
                {#<li><a href="{{url}}/{{Online.getTipoInfo('module')}}/meu-cadastro">Meu Cadastro</a></li>#}
                <li><a href="{{url}}/session/logout">Sair</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

{% endif %}