<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{title}}</title>
    </head>    
    <body>
        <div id="contentwide" style="padding: 10px;">

            <style>
                html, body, *{
                    font-family: sans-serif;
                }
                #dv_error{
                    margin-top: 60px;
                    width: 600px;
                }
                #dv_error br{
                    height: 1px;
                    display: inline-block;
                }
                #dv_error img{
                    vertical-align: top;;
                }
                #dv_error #descript{
                    display: inline-block !important;
                }
                #dv_error > #descript > #descript-title{
                    font-size: 24px;
                    font-weight: bold;
                    display: inline-block;
                    margin-top: 50px;
                }
                #dv_error > #descript > #descript-error{
                    font-size: 12px;
                    font-weight: normal;
                    text-align: left;
                    margin: 0;
                    padding-top: 5px;
                }
                #tbl-login td{ padding: 5px; }
            </style>

            <center>
                <div id="dv_error">
                    {% if status == 'alert' %}
                        <!--<img src="{{url}}/media/images/alert.png"/>-->
                    {% endif %}
                    <div id="descript">
                        <div id="descript-title">
                            {% if codigo == '404' %}
                                (404) Página não encontrada!
                            {% elseif codigo == '403' %}
                                (403) Sem permissão!
                            {% endif %}
                        </div>
                        <br/>
                        <div id="descript-error">
                            {{mensagem}}
                            {% if show_inicio %}
                            <br/>
                            <a href="{{ Online ? url~'/'~Online.getGroupObj().getMode()|lower : url }}">tela inicial</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if show_login and Online is null %}
                <div style="font-size: 13px;">
                    <form method="post" action="">
                        <input type="hidden" name="__hazo__login__" value="Y"/>
                        <table border="0">
                            <tr>
                                <td style="text-align: right">Login:</td>
                                <td><input type="text" size="40" name="login"/></td>
                            </tr>
                            <tr>
                                <td style="text-align: right">Password:</td>
                                <td><input type="password" size="40" name="password"/></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: right"><input type="submit" value="Enter"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
                {% endif %}
            </center>

        </div>
    </body>
</html>