{% macro fieldsSub(display, sub, Submodule, id) %}
<div style="display:{{display}}" class="form" id="{{id}}">
    {% set tmp_id_loc = 'DV'~random(9999)~random(9999)~random(9999)~random(9999) %}
    <input type="hidden" name="hid-count[]" value="Y"/>
    <label>
        Status <br/>
        <select name="sub-status[]">
            <option value="">&nbsp;</option>
            <option value="O" {{Submodule.getStatus()=="O"?'selected="selected"':""}}>Opened</option>
            <option value="C" {{Submodule.getStatus()=="C"?'selected="selected"':""}}>Closed</option>
        </select>
    </label>
    <label>
        Submodule/Action method <br/>
        <input type="text" size="30" name="sub-submodule[]" value="{{sub}}"/>
    </label>
    <label>
        Description <br/>
        <input type="text" size="30" name="sub-description[]" value="{{Submodule.getDescription()}}"/>
    </label>
    <label>
        Action <br/>
        <select name="sub-action[]">
            {% set action = Submodule.getAction() %}
            <option value="">&nbsp;</option>
            <option value="V"   {{action=="V"?'selected="selected"':""}}>Visualização</option>
            <option value="S"   {{action=="S"?'selected="selected"':""}}>Seleção</option>
            <option value="U"   {{action=="U"?'selected="selected"':""}}>Alteração</option>
            <option value="I"   {{action=="I"?'selected="selected"':""}}>Inclusão</option>
            <option value="D"   {{action=="D"?'selected="selected"':""}}>Exclusão</option>
            <option value="IU"  {{action=="IU"?'selected="selected"':""}}>Inclusão/Alteração</option>
            <option value="IUD" {{action=="IUD"?'selected="selected"':""}}>Inclusão/Alteração/Exclusão</option>
        </select>
    </label>
    
    <label>
        Show menu <br/>
        {% set check = Submodule.getShowMenu() == "Y" ? 'checked="true"' : '' %}
        <div style="padding-top:8px;text-align:center;padding:0px;">
            <input type="checkbox" name="sub-show-menu[]" value="Y" {{check}}/>
        </div>
    </label>
    
    <label>
        Require grant <br/>
        {% set check = Submodule.getGrantRequire() == "Y" ? 'checked="true"' : '' %}
        <div style="padding-top:8px;text-align:center;padding:0px;">
            <input type="checkbox" name="sub-grant-require[]" value="Y" {{check}}/>
        </div>
    </label>
    
    <label>
        <input type="button" onclick="$(this).parent().parent().remove()" value="x" title="Delete row" style="cursor:pointer;"/>
    </label>
    
</div>

{% endmacro %}