{% extends "index.twig" %}

{% set nome_modulo = "Meu Cadastro" %}

{% block content %}

<form class="hazo-form" method="post" action="">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-5">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" value="{{Usuario.getNome()}}">
        </div>

        <div class="form-group col-xs-12 col-sm-7">
            <label for="email">Endereço de E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" value="{{Usuario.getEmail()}}">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-xs-12 col-sm-5">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" name="login" placeholder="Login" value="{{Usuario.getLogin()}}">
        </div>

        <div class="form-group col-xs-12 col-sm-7">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" value="{{Usuario.getSenha()}}" autocomplete="off">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-xs-12 col-sm-7 col-sm-offset-5">
            <label for="rsenha">Repita a Senha</label>
            <input type="password" class="form-control" id="rsenha" name="rsenha" placeholder="Senha" value="{{Usuario.getSenha()}}" autocomplete="off">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-xs-12 col-sm-7">
            <input type="submit" class="btn btn-primary" value="Salvar Informações"/>
        </div>
    </div>
    
</form>

{% endblock %}