{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

<form class="form" method="post" action="" enctype="multipart/form-data">
    
    {% if User.getID() %}
    <label>
        Code <br/>
        <input type="text" size="3" style="text-align:center;" readonly="true" value="{{User.getID()}}"/>
    </label>
    <br/>
    {% endif %}
    
    <label>
        Group <br/>
        <input type="text" style="width:380px;" readonly="true" value="{{Group.getName()}}"/>
    </label>
    <div class="label">
        Status <br/>
        <label for="md-a">
            <input type="radio" id="md-a" name="status" value="A" {{User.getStatus() != "I" ? "checked='checked'" : ""}}/>
            Active
        </label>
        <label for="md-i">
            <input type="radio" id="md-i" name="status" value="I" {{User.getStatus() == "I" ? "checked='checked'" : ""}}/>
            Inactive
        </label>
    </div>
    <br/><br/>
    
    <label>
        Name <br/>
        <input type="text" style="width:250px;" name="name" value="{{User.getName()}}"/>
    </label>
    <label>
        Login <br/>
        <input type="text" style="width:250px;" name="login" value="{{User.getLogin()}}"/>
    </label>
    <br/>
    <label>
        Password <br/>
        <input type="password" style="width:250px;" name="password" value=""/>
    </label>
    <label>
        Confirm Password <br/>
        <input type="password" style="width:250px;" name="rpassword" value=""/>
    </label>
    <br/>
    <label>
        E-mail <br/>
        <input type="text" style="width:522px;" name="email" value="{{User.getEmail()}}"/>
    </label>
    <br/><br/>
    <div class="label">
        User's Image <br/>
        {% if User.getImageFilename() %}
        <div id="slimage">
            <img src="{{url}}/{{User.getImageFilename()}}" style='width: 200px;'/>
            <br/>
            <div class='button' onclick="$('#slimage').hide();$('#delimg').val('S');" style="margin:10px;">Delete Image</div>
            <input type="hidden" name="delete_image" value="N" id="delimg"/>
        </div>
        {% else %}
        {% endif %}
        <div class='button'><input type='file' name='image'/></div>
    </div>
    <br/><br/>
    &nbsp;
    <input type="submit" class="button min" value="Save"/>
</form>

{% endblock %}