{% extends "main.html" %}


{% block content %}
<br/><br/><br/>

<table class="table table-condensed table-hover table-list">
    <thead>
        <tr>
            <td>#</td>
            <td>ClassName</td>
            <td>Attribute</td>
            <td>TableName</td>
            <td>Collumn</td>
            <td>Filters</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#</td>
            <td>ClassName</td>
            <td>Attribute</td>
            <td>TableName</td>
            <td>Collumn</td>
            <td>Filters</td>
        </tr>
        <tr>
            <td>#</td>
            <td>ClassName</td>
            <td>Attribute</td>
            <td>TableName</td>
            <td>Collumn</td>
            <td>Filters</td>
        </tr>
        <tr>
            <td>#</td>
            <td>ClassName</td>
            <td>Attribute</td>
            <td>TableName</td>
            <td>Collumn</td>
            <td>Filters</td>
        </tr>
    </tbody>
</table>

{% endblock %}