{% extends "index.twig" %}

{% block content %}
<br/><br/><br/>

<center><h2 style="font-size: 25px;font-family: sans-serif;">Hazo Project</h2></center>

{% set errors = _getErrors() %}

{% if errors %}

{% for error in errors %}
<p style="paddin:5px;border:1px solid #FFF;">{{error}}</p>
{% endfor %}

{% endif %}

<style>
    .errors{
        text-align: center;
        padding: 10px 0;
        color: red;
    }
</style>

<center>
    <div style="width:350px;font-family: sans-serif;">
        <form method="post" action="{{url}}/session/login" id="form">
            <table border="0">
                {% if erros %}
                <tr>
                    <td colspan="2" class="errors">{{erros|raw}}</td>
                </tr>
                {% endif %}
                <tr>
                    <td style="text-align: right"><label>Login:</label>&nbsp;</td>
                    <td><input type="text" size="40" name="login" id="login" class="form-control"/></td>
                </tr>
                <tr>
                    <td style="text-align: right"><label>Senha:</label>&nbsp;</td>
                    <td><input type="password" size="40" name="senha" id="senha" class="form-control"/></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right"><input type="submit" value="Entrar" class="btn btn-success"/></td>
                </tr>
            </table>
        </form>
    </div>
    
    <br/><br/>
    
    <button data-login="admin" data-senha="abcd" class="btn btn-primary">Administrador</button>
    <br/>
    <br/>
    <button data-login="gerente1" data-senha="gerente" class="btn btn-primary">Gerente 1</button>
    <button data-login="gerente2" data-senha="gerente" class="btn btn-primary">Gerente 2</button>
    <button data-login="gerente3" data-senha="gerente" class="btn btn-primary">Gerente 3</button>
    <br/>
    <br/>
    <button data-login="tecnico1" data-senha="tecnico" class="btn btn-primary">Técnico 01</button>
    <button data-login="tecnico2" data-senha="tecnico" class="btn btn-primary">Técnico 02</button>
    <button data-login="tecnico3" data-senha="tecnico" class="btn btn-primary">Técnico 03</button>
    <button data-login="tecnico4" data-senha="tecnico" class="btn btn-primary">Técnico 04</button>
    <button data-login="tecnico5" data-senha="tecnico" class="btn btn-primary">Técnico 05</button>
    <button data-login="tecnico6" data-senha="tecnico" class="btn btn-primary">Técnico 06</button>
    <button data-login="tecnico7" data-senha="tecnico" class="btn btn-primary">Técnico 07</button>
    
</center>

<script>
    jQuery(".btn-primary").on('click', function(){
        login = jQuery(this).attr('data-login');
        senha = jQuery(this).attr('data-senha');
        jQuery("#login").val(login);
        jQuery("#senha").val(senha);
        //jQuery("#senha").val('abcd');
        jQuery("#form").submit();
    });
</script>

{% endblock %}