{% extends "index.twig" %}

{% set nome_modulo = "Cadastro de Cliente" %}

{% block content %}

<form class="hazo-form" method="post" action="">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" value="{{Cliente.getNome()}}"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <input type="submit" class="btn btn-warning" value="Salvar Informações"/>
            &nbsp;&nbsp;&nbsp;
            <input type="submit" class="btn btn-danger" value="Excluir Cadastro" name="excluir" onclick="if( !confirm('Deseja realmente excluir o cliente?') ){ return false; }"/>
        </div>
    </div>
</form>

{% endblock %}