{% extends "index.twig" %}

{% set nome_modulo = "Clientes Cadastrados" %}

{% block content %}

<p>
    <a href="{{url}}/administrador/cadastros/cadastro-cliente">
        <button class="btn btn-primary">Cadastrar novo cliente</button>
    </a>
</p>

{% if clientes %}

<table class="hazo-simple-table" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td>Cliente</td>
        </tr>
    </thead>
    <tbody>
        {% for Cliente in clientes %}
            <td>
                <a href="{{url}}/administrador/cadastros/cadastro-cliente/{{Cliente.getID()}}">
                    {{Cliente.getNome()}}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<center><i>Nenhum cliente cadastrado</i></center>

{% endif %}

{% endblock %}