{% extends "index.twig" %}

{% block content %}

{% 
    set status = {
        'A': "Ativo",
        'I': "Inativo"
    }
%}

<form class="hazo-form" method="post" action="">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-9">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" value="{{Usuario.getNome()}}">
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            {% import "formulario.twig" as form %}
            <label>Status</label>
            <div class="form-control">
                {{ form.radio(status, 'status', Usuario.getStatus() ?: 'A' ) }}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-xs-12 col-sm-5">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" name="login" placeholder="Login" value="{{Usuario.getLogin()}}">
        </div>
        <div class="form-group col-xs-12 col-sm-7">
            <label for="email">Endereço de E-mail</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" value="{{Usuario.getEmail()}}">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" value="{{Usuario.getSenha()}}" autocomplete="off">
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label for="rsenha">Repita a Senha</label>
            <input type="password" class="form-control" id="rsenha" name="rsenha" placeholder="Senha" value="{{Usuario.getSenha()}}" autocomplete="off">
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-xs-12 col-sm-12">
            <input type="submit" class="btn btn-primary" value="Salvar Informações"/>
        </div>
    </div>
    
</form>

{% endblock %}