{% extends "index.twig" %}

{% block content %}

<p>
    <a href="{{url}}/administrador/cadastros/{{lista_cadastro}}">
        <button class='btn btn-primary'>Cadastrar novo {{lista_indice}}</button>
    </a>
</p>

{% if usuarios %}

{% 
    set status = {
        'A': "<span style='color: green'>Ativo</span>",
        'I': "<span style='color: red'>Inativo</span>"
    }
%}

<table class="table table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <td>{{lista_indice}}</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        {% for Usuario in usuarios %}
            <td>
                <a href="{{url}}/administrador/cadastros/{{lista_cadastro}}/{{Usuario.getID()}}">
                    {{Usuario.getNome()}}
                </a>
            </td>
            <td>{{status[Usuario.getStatus()]|raw}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}

<center><i>Nenhum administrador cadastrado</i></center>

{% endif %}

{% endblock %}