<!-- XS = <       SM = > -->

<div class="row">
    {######### DETALHES DO PROJETO #########}

    <div class="form-group col-xs-12 col-sm-12">
        <label>Projeto</label>
        <input type="text" readonly class="form-control" value="{{Projeto.getTitulo()}}"/>
    </div>

    {% if Projeto.getDescricao() %}
    <div class="form-group col-xs-12 col-sm-12">
        <label>Descrição do Projeto</label>
        <textarea style="height: 100px;" readonly class="form-control">{{Projeto.getDescricao()}}</textarea>
    </div>
    {% endif %}

    <div class="form-group col-xs-12 col-sm-6">
        <label>Cliente</label>
        <input type="text" readonly class="form-control" value="{{Projeto.getClienteObj().getNome()}}"/>
    </div>
    <div class="form-group col-xs-12 col-sm-6">
        <label>Gerente</label>
        <input type="text" readonly class="form-control" value="{{Projeto.getUsuarioGerenteObj().getNome()}}"/>
    </div>

    {######### DETALHES DA ATIVIDADE #########}

    <div class="form-group col-xs-12 col-sm-7">
        <label>Atividade</label>
        <input type="text" readonly class="form-control" value="{{Atividade.getCronogramaAtividadeObj().getTitulo()}}"/>
    </div>

    <div class="form-group col-xs-12 col-sm-5">
        <label>Etapa do Projeto</label>
        <input type="text" readonly class="form-control" value="{{Atividade.getCronogramaAtividadeObj().getEtapaObj().getDescricao()}}"/>
    </div>

    {% if Atividade.getCronogramaAtividadeObj().getDescricao() %}
    <div class="form-group col-xs-12 col-sm-12">
        <label>Descrição da Atividade</label>
        <textarea style="height: 100px;" readonly class="form-control">{{Atividade.getCronogramaAtividadeObj().getDescricao()}}</textarea>
    </div>
    {% endif %}

    <div class="form-group col-xs-12 col-sm-4">
        <label>Data Início</label>
        <input type="text" readonly class="form-control" value="{{Atividade.getDataPrevisaoInicio()}}"/>
    </div>

    <div class="form-group col-xs-12 col-sm-4">
        <label>Data Término</label>
        <input type="text" readonly class="form-control" value="{{Atividade.getDataPrevisaoTermino()}}"/>
    </div>

    <div class="form-group col-xs-12 col-sm-4">
        <label>Duração (horas)</label>
        <input type="text" readonly class="form-control" value="{{Atividade.getDuracaoHoras()}}"/>
    </div>
    
</div>

<hr/>